@import "tailwindcss";

:root {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;

  --muted: 240 5% 15%;
  --muted-foreground: 240 5% 65%;

  --border: 240 6% 20%;
  --input: 240 6% 20%;

  --card: 240 6% 8%;
  --card-foreground: 0 0% 98%;

  --primary: 260 100% 65%;
  --primary-foreground: 0 0% 100%;
}


* {
  border-color: hsl(var(--border));
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: system-ui, sans-serif;
}